# 0. Basics

## 0.1. Working with Variables

**Variables**: Labels to containers of stored information.
- This is a concept of a pointer in computer science

**Python objects**
- Value
- Type

Everything in Python is an object which contains a value and a type.

**Simple types**
- String
- Integer
- Float
- Boolean
- NoneType

**Compund Types**

Containers holding multiple pieces of information.
- List
- Tuple
- Dicitonary
- ...

### Integer & Float

In [ ]:
a = 5
b = 5.0 # by putting a decimal in the number it will automatically be a float type\

In [ ]:
1 + '' # number can't interact with strings

### None

In [1]:
none_variable = None
print(none_variable)

None

In [2]:
print(None)

None

In [3]:
None

### Checking Types

In [4]:
a = 27
type(a)

int

In [5]:
b = 15.27
type(b)

float

In [6]:
c = '27'
type(c)

str

In [7]:
d = True
type (d)

bool

### Casting Types

In [8]:
int('2')

2

In [9]:
int(3.2)

3

In [10]:
int(True)

1

In [11]:
str(2)

'2'

In [12]:
str(3.2)

'3.2'

In [13]:
str(False)

'False'

In [14]:
float(2)

2.0

In [15]:
float('3.2')

3.2

In [16]:
float(False)

0.0

Any value that is 0 (or integer or float), that will be converted to false.

But if it's any other number, that will be converted to true.

In [17]:
bool(0)

False

In [18]:
bool(-0.1)

True

In [19]:
bool(-1)

True

In [20]:
bool(3)

True

Any string -> true

'' -> false

In [21]:
bool('hello')

True

In [22]:
bool('')

False

### List & Tuple

#### List

In [35]:
my_list = ['first', 'second', 'third']
my_list

['first', 'second', 'third']

#### Indexing & Slicing

In [26]:
print(my_list[0])
print(my_list[1])
print(my_list[2])

first
second
third

In [27]:
print(my_list[-1])
print(my_list[-2])
print(my_list[-3])

third
second
first

In [28]:
print(my_list[0:1])
print(my_list[0:3])
print(my_list[0:])
print(my_list[:2])

['first']
['first', 'second', 'third']
['first', 'second', 'third']
['first', 'second']

In [32]:
my_list[0:3:2] # start:end:step

['first', 'third']

#### Built-in Methods

In [36]:
print(len(my_list))

3

In [37]:
my_list.append('fourth')
my_list

['first', 'second', 'third', 'fourth']

In [ ]:
my_tuple = ('red', 'blue', 'green')
my_tuple

#### Tuple

Tuples are immutable -> contents can't be changed after being set.

In [38]:
monthday = (5, 24)
month, day = monthday
print(month, day)

5 24

### Dictionary

In [39]:
customer_info = {
    'id': '20A1130524'
    ,'is_vip': True
    ,'wallet': 50.24
}
customer_info

{'id': '20A1130524', 'is_vip': True, 'wallet': 50.24}

Working with dictionary keys

In [41]:
print(customer_info['id'])
print(customer_info['wallet'])

20A1130524
50.24

Adding new key-value pairs

In [42]:
customer_info['member_type'] = 'gold'
customer_info

{'id': '20A1130524', 'is_vip': True, 'wallet': 50.24, 'member_type': 'gold'}

Observing keys & values

In [43]:
print(customer_info.keys())
print(customer_info.values())
print(customer_info.items())

dict_keys(['id', 'is_vip', 'wallet', 'member_type'])
dict_values(['20A1130524', True, 50.24, 'gold'])
dict_items([('id', '20A1130524'), ('is_vip', True), ('wallet', 50.24), ('member_type', 'gold')])

### Boolean

`not`

In [66]:
truth = True
print(not truth)

False

`or`

In [45]:
print(True or True)
print(True or False)
print(False or False)

True
True
False

`and`

In [46]:
print(True and False)
print(True and True)
print(False and False)

False
True
False

Comparison operators

In [51]:
print(3 == 3.0)
print(3 == 3.1)
print(3 == '3')

True
False
False

In [52]:
print(3 != 3.0)
print(3 != 3.1)
print(3 != '3')

False
True
True

In [ ]:
# >
# >=
# <
# <=

Membership operator `in`

In [53]:
list = [1,2,3,4,5]
x = 1
y = 10
print(x in list)
print(y in list)

True
False

### Condition

In [54]:
user_age = 42

if user_age >= 18:
    print('User is an adult')

User is an adult

In [55]:
user_age = 13

if user_age >= 18:
    print('User is an adult')
elif user_age < 1:
    print('User is an infant')
else:
    print('User is a minor')

User is a minor

## 0.2. Importing Libaries & Data

In [57]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
	# or 
	# from datetime import datetime as dt, timedelta

Read CSV

In [ ]:
df = pd.read_csv('data.csv')

pd.set_option('display.max_columns', 100) # 100 columns

Read Excel

In [ ]:
%pip install openpyxl

df = pd.read_excel("Data\sales.xlsx")

Explore

In [ ]:
df.info()
df.head()
df.tail()
df.sample()
df.shape
df.columns
df.index

Statistics Summary

In [ ]:
df.describe(include='all')

# 1. Basic Manipulating

## 1.1. Selecting & Manipulating Columns/Rows

In [ ]:
# example
df = df[['order_id', 'order_date', 'cust_id', 'Customer Since', 'qty_ordered', 'price', 'value', 'discount_amount', 'total']]
df = df.drop(columns=['price', 'value', 'discount_amount'])

# project 4

In [ ]:
df_example = pd.DataFrame(
    data={
        'col0': [1,3,3,5,1]
        ,'col1': [7,2,94,37,49]
        ,'col2': [2,6,6,-1,10]
    }
)
df_example

   col0  col1  col2
0     1     7     2
1     3     2     6
2     3    94     6
3     5    37    -1
4     1    49    10

- using df.iloc[90:100] -> the end index is `not inclusive`
- using df.loc[90:100] -> the end index is `inclusive`

In [ ]:
df_example.loc[:,'col0']

0    1
1    3
2    3
3    5
4    1
Name: col0, dtype: int64

Mask is simply a set of true/false values.

In [ ]:
my_mask = pd.Series([True,False,True,True,False])
df_example.loc[my_mask, :]

   col0  col1  col2
0     1     7     2
2     3    94     6
3     5    37    -1

In [ ]:
df_example.loc[~my_mask, :]

   col0  col1  col2
1     3     2     6
4     1    49    10

In [ ]:
df_example.loc[df_example['col0'] > 1, :]

   col0  col1  col2
1     3     2     6
2     3    94     6
3     5    37    -1

In [ ]:
df_example.loc[df_example['col0'].isna()]

Empty DataFrame
Columns: [col0, col1, col2]
Index: []

### df.drop()

In [ ]:
DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')

- **labels**: Single label or a list of labels to drop. It can be row indices or column names, depending on the axis.
- **axis**:
    - `0` or `'index'` for rows (default).
    - `1` or `'columns'` for columns.
- **index**: Alternative to specifying row labels.
- **columns**: Alternative to specifying column labels.
- **level**: If working with a MultiIndex, this specifies which level to remove.
- **inplace**: If `True`, modifies the original DataFrame. Otherwise, it returns a new DataFrame.
- **errors**:
    - `'raise'` (default): Raises an error if the labels are not found.
    - `'ignore'`: Silently ignores the labels if they are not found.

## 1.2. Handling Duplicates

In [ ]:
DataFrame.duplicated(subset=None, keep='first')

- subset: Columns to check for duplicates. By default, all columns are used.
- keep: Determines which duplicates (if any) to mark as False.
    - 'first': Mark duplicates as True, except for the first occurrence.
    - 'last': Mark duplicates as True, except for the last occurrence.
    - False: Mark all duplicates as True.

In [ ]:
df.duplicated() # show if a row is duplicted (true/false)
df.duplicated().sum() # number of duplicated rows

### df.drop_duplicates()

In [ ]:
DataFrame.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

- **subset**: Specifies which columns to consider for identifying duplicates. If left as `None`, all columns are considered.
- **keep**: Determines which duplicates to keep.
    - `'first'`: Keeps the first occurrence (default).
    - `'last'`: Keeps the last occurrence.
    - `False`: Drops all duplicates.
- **inplace**: If `True`, performs the operation in place (modifying the original DataFrame). Otherwise, it returns a new DataFrame.
- **ignore_index**: If `True`, resets the index after dropping duplicates.

## 1.3. Handling Missings

In [ ]:
df.isna()

In [ ]:
# example
df_no_missing_CustomerId = df.copy()
df_no_missing_CustomerId.dropna(subset=['CustomerId'], inplace=True)
df_no_missing_CustomerId.info()

# project 1

### pd.dropna()

In [ ]:
DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

- **axis**:
    - `0` or `'index'`: Drops rows (default).
    - `1` or `'columns'`: Drops columns.
- **how**:
    - `'any'`: Drops a row/column if any of its values are NaN (default).
    - `'all'`: Drops a row/column only if all of its values are NaN.
- **thresh**: Requires that at least a certain number of non-NaN values are present for the row/column to be kept. For example, `thresh=2` means the row/column must have at least 2 non-NaN values to be retained.
- **subset**: Specifies the subset of columns (or rows) to check for NaN values.
- **inplace**: If `True`, modifies the original DataFrame; otherwise, returns a new DataFrame with the rows/columns dropped.

### Handling 0 or Negative Number

In [ ]:
# example
df_no_missing_price = df_no_duplicate.copy()
df_no_missing_price = df_no_missing_price[df_no_missing_price['UnitPrice'] > 0]
df_no_missing_price.info()

# project 1

### pd.fillna()

In [ ]:
DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None)

- value: Scalar, dictionary, Series, or DataFrame. The value(s) to replace NaNs with.
- method: {'backfill', 'bfill', 'pad', 'ffill'}, default None. Specifies the fill method.
    - pad or ffill: Fill forward (use the last valid value to fill the next NaN).
    - backfill or bfill: Fill backward (use the next valid value to fill the NaN).
- axis: {0 or 'index', 1 or 'columns'}, default 0. The axis along which to fill missing values.
- inplace: bool, default False. If True, fills the missing values in place without creating a new DataFrame.
- limit: int, default None. The maximum number of NaNs to fill.
- downcast: dict, default None. Specifies if and how to downcast the result.

Fill with different values for each column:

In [ ]:
df.fillna({'column1': 0, 'column2': 'missing'})

## 1.4. Handling Datatype

### object to datetime

In [ ]:
# example
# format data type of order_date and 'Customer Since' from object to datetime

df['order_date'] = pd.to_datetime(df['order_date'], format='%m/%d/%Y') 
	
	# format='%m/%d/%Y' is the old format when it was object (string)
	# new format is 'YYYY-MM-DD', eg: 2006-08-22

# project 4

### Getting YearMonth, Year

In [ ]:
# example
da['OrderMonth'] = da['OrderDate'].dt.to_period('M')
	# eg output: 2020-10 
da['YearAcquired'] = da['CustomerSince'].dt.to_period('Y')
	
	# the output type is 'period' <> 'datetime'

# project 4

### Change Datatype

In [ ]:
# example
# change datatype of YearAcquired to int for easier acquisition
da.YearAcquired = da.YearAcquired.astype('str')
da.YearAcquired = da.YearAcquired.astype('int64')

# project 4

# 2. Advanced Manipulating

## 2.1. Groupby

In [ ]:
# example
da = pd.DataFrame(df.groupby(['OrderDate', 'OrderId', 'CustomerId']).agg({'CustomerSince': min, 'Quantity': sum, 'Sales': sum})).reset_index()

TotalCustomer = pd.DataFrame(da.groupby('Cohorts', as_index=False).agg({'CustomerId': 'nunique'}))
TotalCustomer.columns = ['Cohorts', 'TotalCustomer']

# project 4

## 2.2. Pivot Table

In [ ]:
# example
CustomerAcquired = pd.pivot_table(da, # dataframe
                                  index='Cohorts',
                                  columns='OrderMonth',
                                  values='CustomerId',
                                  aggfunc=pd.Series.nunique)

# divide by a series                                  
CustomerAcquiredPct = CustomerAcquired.div(TotalCustomer.iloc[:,1].values, axis=0)
CustomerAcquiredPct
	# The `div()` function is used to perform element-wise division.
	# The `axis=0` argument specifies that the operation should be performed row-wise (meaning divide each row of `CustomerAcquired` by the corresponding row of `TotalCustomer.iloc[:,1]`).

# project 4

### df.div(..., axis=0)

In [ ]:
DataFrame.div(other, axis='columns', level=None, fill_value=None)

- **other**:
    - The object to divide with (another DataFrame, Series, or scalar).
- **axis**:
    - `0` or `'index'`: Divides row-wise (meaning divide each row of `df` by the corresponding row of `other`).
    - `1` or `'columns'`: Divides column-wise (default).
- **level**:
    - Specifies which level of a multi-index to broadcast along (useful when working with multi-index DataFrames).
- **fill_value**:
    - Value to use when `NaN` is found in either the DataFrame or the other object. Helps to avoid `NaN` results from dividing by `NaN`.

## 2.3. Functions

### nunique()

In [ ]:
# example
df_no_missing_price[df_no_missing_price['InvoiceNumber'].str.startswith('C', na=False)].nunique()
# na=False treats NaN values as False
# nunique() to count the number of unique values 

# project 1

### str.startswith()

In [ ]:
# example
df_no_missing_price[df_no_missing_price['InvoiceNumber'].str.startswith('C', na=False)].nunique()
# na=False treats NaN values as False
# nunique() to count the number of unique values 

# project 1

# 3. Visualization

## 3.1. Maplotlib

## 3.2. Seaborn

### sns.barplot()

In [ ]:
# example
fig, ax = plt.subplots(figsize = (10,6))
sns.barplot(data=TotalCustomer, x='Cohorts', y='TotalCustomer', palette='mako')
plt.title('Number of Customers by Cohort')
plt.xlabel('Acquisition Year')
plt.ylabel('Number of Customers')

plt.show()

# project 4

### sns.heatmap()

In [ ]:
# example: heatmap of number
fig, ax = plt.subplots(figsize = (10,6))
sns.heatmap(CustomerAcquired, annot=True, annot_kws={'size':7}, fmt='.0f', linewidths=.4, cmap='Blues', cbar_kws={'label': 'Number of Customers'})
plt.title('Number of Customers by Cohort over Time')
plt.xlabel('Month')
plt.ylabel('Acquisition Year')
plt.show()

# example: heatmap of pct
fig, ax = plt.subplots(figsize = (10, 6))
sns.heatmap(CustomerAcquiredPct, annot=True, annot_kws={"size": 7}, fmt=".2%", linewidths = .4, cmap="OrRd", cbar_kws={'label': 'Retention Rate'})
plt.title('Retention Rate by Cohort over Time', fontsize = 12)
plt.xlabel('Month')
plt.ylabel('Acquisition Year')
plt.show()

# project 4